body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline {


}
#editor_wrapper {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;

}

#timeline canvas {

}
#story_units {
    display: inline-block;
    height: 200px
}
.story_unit {
    white-space: break-spaces;
    vertical-align: top;
    display: inline-block;
    width: 300px;
    background-color: white;
    border: #000 1px solid;
    height: 100%;
}
#editor {
    width: 90vw;
}

.title{
    padding: 20px;
}